/*
 * PROJECT:     ReactOS Console Command More
 * LICENSE:     GPL - See COPYING in the top level directory
 * FILE:        base/applications/cmdutils/more/lang/ru-RU.rc
 * PURPOSE:     Russian Language File for ReactOS Console Command More
 * PROGRAMMERS: towerr & Lentin
 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_USAGE "Показывать данные постранично заполняя экран.\n\
\n\
MORE [/E [options]] < [drive:][path]filename\n\
command | MORE [/E [options]]\n\
\n\
    [drive:][path]filename  Файл, содержимое которого должно быть отображено.\n\
    command                 Команда, вывод которой должен отображаться.\n\
\n\
Когда расширенные функции включены, поддерживается следующая форма:\n\
MORE [/E] [options] [files]\n\
\n\
Options:\n\
    /E       Включить расширенные функции.\n\
    Состояние расширенных функций по умолчанию управляется\n\
    настройками реестра для CMD.EXE. Для получения более подробной информации о том, как изменить эти\n\
    настройки смотрите раздел ""Command Extensions"" в файле помощи по CMD.EXE.\n\
\n\
    Когда расширенные функции включены, доступны следующие настройки:\n\
    /C       Очистить экран перед отображением страницы.\n\
    /P       Расширить смволы перевода старницы.\n\
    /S       Сжать несколько пустых строк в одну строку.\n\
    /Tn      Преобразовать табы в n пробелов (по умолчанию:8).\n\
\n\
    Эти параметры могут быть указаны в переменной окружения MORE.\n\
\n\
    +n       Начать отображать первый файл со строки n.\n\
    files    Список отображаемых файлов, разделенных пробелами.\n\
\n\
Когда включены расширенные функции, доступны следующие команды:\n\
at the ""-- Continue --"" prompt:\n\
\n\
    P n      Отобразить следующие n строк.\n\
    S n      Пропустить следующие n строк.\n\
    F        Отобразить следующий файл.\n\
    Q        Выйти.\n\
    =        Показывать номер строки.\n\
    ?        Показывать строку подсказки.\n\
    <Space>  Показать следующую страницу.\n\
    <Enter>  Показать следующую строку.\n"

    IDS_BAD_FLAG "Неверный аргумент - '%s'\n"
    IDS_FILE_ACCESS "Нет доступа к файлу %s.\n"
    IDS_CONTINUE_PROMPT  "-- Продолжить%1%2%3 --%4"
    IDS_CONTINUE_PERCENT " (%d%%)"
    IDS_CONTINUE_LINE_AT " [Строка: %d]"
    IDS_CONTINUE_OPTIONS " [Настройки: psfq=<Space><Enter>]"
    IDS_CONTINUE_LINES   " Строк: "
END
